.modal{
  height: 80%;
  max-height: 80% !important;
  background-image: url('../img/modals/backg_02.jpg');
  background-size: 100% 100%;
}

#modalTitle{
  height: 18%;
  background-image: url('../img/modals/backg_04.jpg');
}

#vTutorial{
  width: 90%;
  margin-left: 5%;
}

.collapsible-body{
  background-color: white;
}

.modal-footer{
    background-color:  rgba(0, 0, 0, 0) !important;
}

.modtitle{
  padding-top: 4% !important;
  font-family: 'ThousandReasons';
  font-size: 3.5em;
  text-shadow: .1em .1em 0.2em rgba(0, 0, 0,1);
}

#nextStep{
  margin-top: 5em;
  margin-left: 1.5em;
}

/* ++++ Colapsible ++++*/
#solucionM #pasosUl h5 {
  font-size: 2em !important;
}

/* ++++ Botones del modal ++++ */


/* ++++++++*/
