

html,body{
  font: 100%/1.5 "Roboto", Verdana, sans-serif;
  margin: 0px;
  height: 100%;
  width:100%;
}

section{
  background-image: url("../img/pizarron.jpg");
  background-size: 100% 97%;
}

section,.fila1{
  height: 100%;
  margin: 0px;
}

span{
  display: block;
  margin: 0 auto;
  font-size: 120%;
}

.fila1 .m4{
  /*background-color: #c5e1a5;*/
  height: 100%;
  padding-left: 30px;
  padding-right: 0px;
}

.fila1 .m8{
  /*background-color: #e6ee9c;*/
  height: 100%;
}

.Roboto{
  font-family: 'Roboto', sans-serif;
}

h1.Roboto{
  margin-bottom: 1.5rem;
  letter-spacing: -.05em;
  font-weight: 200;
  -webkit-animation-duration: 9s;
  -webkit-animation-delay: 2s;
  -webkit-animation-iteration-count: infinite;
}

h5{
  margin-bottom: 1.5rem;
  letter-spacing: -.05em;
  font-weight: 200;
}

#igual {
  margin: 0px 0px !important;
}

#miembro1 {
  margin-right: 8px !important;
}

#miembro2 {
  margin-left: 8px !important;
}

.m4 .row{
  margin-bottom: 16px;
}

/*------------------------------------------------------------------------------
                   Estilos del input
--------------------------------------------------------------------------------*/

.input-field label{
  color: #b9f6ca;
}

.input-field input[type=text]{
  border-bottom-color: #b9f6ca;
}

.input-field input[type=text]:focus + label {
  color: #ccff90;
}

.input-field input[type=text]:focus{
  border-bottom-color: #ccff90;
}

/*------------------------------------------------------------------------------
                   Botones
--------------------------------------------------------------------------------*/

form div a.btn:hover{
  background-color: #c0ca33 !important;
}

.tips:hover{
  background-color: #ef5350 !important;
}

.next a:hover{
  background-color: #7986cb !important;
}

.next a{
  padding: 0px 18px !important;
}
.next a i{
  margin-left: 10px;
}
/*------------------------------------------------------------------------------
                   Imagen
--------------------------------------------------------------------------------*/
.rompecabezas .m12{
  margin-top: 8%;
}

/*------------------------------------------------------------------------------
                   Score
--------------------------------------------------------------------------------*/
#score{
  margin-left: 5px !important;
  margin-right: 10px;
}
#scorelbl{
  margin-left:  20px;
  margin-right: 0px;
}
#resueltaslbl{
  margin-left: 50px;
  margin-right: 0px;
}

#resueltas{
  margin-left: 5px;
}

#intentoslbl{
  margin-left:  20px;
  margin-right: 0px;
}
#intentos{
  margin-left: 10px !important;
  margin-right: 10px;
}

/*------------------*/

#bien{
  margin: 10px 10px;
  margin-top: 23px;
  margin-bottom: 0px;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
}
